.darkmode {
  --main-background: #0B0B0B;
  --primary: #1558E3;
  --secondary: #00C393;
  --third: #FD2470;
  --widget-background: #101010;
  --gray-background: #A1A1A1;
  --gray-border: #B1B1B1;
  --logo: #FE6037;
  --inactive: #3E3E3E;
  --main-button: #fe5234;
}
